<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/submitted.css">
  </head>

  <body>
    <div id="sj-main">
      <div id="content">
        <img id="submit" src="/images/submit.gif" alt="" />
        <h1>Thank You <%= name %></h1>
        <h5>Your form is successfully submitted</h5>
        <a href="/"><i class="ri-reply-fill"></i></a>
        <a href="/">Submit another response...</a>
      </div>
    </div>
  </body>
</html>
